@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrap {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(young-woman-2699780_19201.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
    background-blend-mode: overlay;*/
    background: rgba(0, 0, 0, 0) url(young-woman-2699780_19201.png) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    background-blend-mode: overlay;
}

.wrap .container {
    padding: 13px 0 0 81px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrap .container .topic a {
    text-decoration: none;
    /* VM Foresthills */
    position: relative;
    width: 257px;
    height: 54px;
    left: 40px;
    top: 13px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.wrap .container .nav {
    position: relative;
    top: 31px;
    right: 50px;
}

.wrap .container .nav .items {
    display: flex;
}

.wrap .container .nav .items li {
    padding-right: 20px;
}

.wrap .container .nav .items li a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    opacity: 1;
    /* identical to box height */
    letter-spacing: 0.4px;
    color: #ade7da;
}

.wrap .container .nav .items li a:hover {
    color: #fff;
}

.heading h4 {
    /* WORLD CLASS ORTHOPEDIC SURGERY TO */
    position: absolute;
    width: 487px;
    height: 28px;
    left: 80px;
    top: 299px;
    /* Poppins/H4 - Poppins 24px - Semi Bold */
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.heading h1 {
    /* LIVE PAIN FREE AND HELP YOU GET BACK TO YOUR HAPPY LIFE */
    position: absolute;
    width: 489px;
    height: 150px;
    left: 81px;
    top: 347px;
    /* Poppins/H1 - Poppins 44px - Bold */
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 50px;
    /* or 114% */
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.heading .btns .button {
    padding: 13px 0 0 81px;
    text-decoration: none;
}

.heading .btns .button a {
    text-decoration: none;
}

.heading .btns .button .book {
    /* Book Appointment */
    position: absolute;
    width: 200px;
    height: 23px;
    left: 81px;
    top: 556px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 42px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    /* Rectangle 4 */
    position: absolute;
    width: 200px;
    height: 50px;
    left: 81px;
    top: 543px;
    background: #009F7B;
    border-radius: 5px;
}

.heading .btns .button .call {
    /* Call - 718-690-3966 */
    position: absolute;
    width: 153px;
    height: 23px;
    left: 351px;
    top: 557px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 42px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    /* Rectangle 4 */
    position: absolute;
    width: 244px;
    height: 50px;
    left: 291px;
    top: 543px;
    background: #009F7B;
    border-radius: 5px;
}

.icon {
    float: right;
    margin-right: 60px;
    width: 3%;
    opacity: 0;
}

.icon img {
    width: 100%;
}

header ul li {
    display: inline-block
}

.wraap {
    background: rgba(0, 0, 0, 0) url(young-woman-2699780_19201.png) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    background-blend-mode: overlay;
}

.sec-padding-treatments {
    padding: 80px 0;
}

.scetion-title h2 {
    /* Treatments We Provide */
    position: absolute;
    width: 499px;
    height: 48px;
    left: 471px;
    top: 2401px;
    /* H1 - SansPro 48 - Bold */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: 0.4px;
    color: #08785D;
}

.scetion-title h5 {
    position: absolute;
    width: 200px;
    height: 0px;
    left: 620px;
    top: 2464px;
    border: 5px solid #70E4C0;
}


/* ................IMG 1...................*/

.row1 .about-img1 {
    /* Image */
    position: absolute;
    width: 386px;
    height: 300px;
    left: 832px;
    top: 2504px;
    background: url(back-view-woman-with-shoulder-pain_23-2148784638.jpg);
    border-radius: 0px 10px 10px 0px;
}

.row1 .about-img1 img {
    width: 100%;
}

.row1 .about-text1 h3 {
    /* Relieve Shoulder Pain */
    position: absolute;
    width: 296px;
    height: 33px;
    left: 265px;
    top: 2535px;
    /* H3 - SansPro 30 - Bold */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    /* identical to box height, or 110% */
    letter-spacing: 0.4px;
    color: #4CB3DF;
}

.row1 .about-text1 h6 {
    /* Line 5 */
    position: absolute;
    width: 200px;
    height: 0px;
    left: 265px;
    top: 2581px;
    border: 5px solid #70E4C0;
}

.row1 .about-text1 p {
    /* We deal with various conditions ranging from rotator cuff injuries, labral injuries, bursitis, tendinitis, and impingement syndrome. 
    Patients may be experiencing a variety of symptoms such as shoulder pain, weakness, tenderness, decreased range of motion, pain with overhead activities, and nocturnal symptoms.
     Different treatment options would consist of physical therapy, anti-inflammatory medications, shoulder injections, or surgery such as shoulder arthroscopy. */
    position: absolute;
    width: 500px;
    height: 160px;
    left: 265px;
    top: 2601px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    letter-spacing: 0.4px;
    color: #5A5A5A;
}


/* ................IMG 2...................*/

.row2 .about-img2 {
    /* Image */
    position: absolute;
    width: 386px;
    height: 300px;
    left: 832px;
    top: 2864px;
    background: url(female-arms-holding-her-painful-wrist-caused-by-prolonged-work-computer_165285-1432.jpg);
    border-radius: 0px 0px 0px 0px;
}

.row2 .about-img2 img {
    width: 100%;
}

.row2 .about-text2 h3 {
    /* Relieve Wrist Pain */
    position: absolute;
    width: 243px;
    height: 33px;
    left: 265px;
    top: 2895px;
    /* H3 - SansPro 30 - Bold */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    /* identical to box height, or 110% */
    letter-spacing: 0.4px;
    color: #4CB3DF;
}

.row2 .about-text2 h6 {
    /* Line 5 */
    position: absolute;
    width: 200px;
    height: 0px;
    left: 265px;
    top: 2941px;
    border: 5px solid #70E4C0;
}

.row2 .about-text2 p {
    /* We focus on tendon and ligament tears in the wrist such as a tear of the triangular fibrocartilage complex. Symptoms can vary from wrist pain, weakness, tenderness, decreased range of motion, and pain with lifting and movements. Different treatment options would consist of physical therapy, anti-inflammatory medications, braces, or surgery such as wrist arthroscopy. */
    position: absolute;
    width: 500px;
    height: 128px;
    left: 265px;
    top: 2961px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    letter-spacing: 0.4px;
    color: #5A5A5A;
}


/* ................IMG 3...................*/

.row3 .about-img3 {
    /* Image */
    position: absolute;
    width: 386px;
    height: 300px;
    left: 832px;
    top: 3224px;
    background: url(bruised-knee-asia-woman-selective-focus_61573-1752.jpg);
    border-radius: 0px 10px 10px 0px;
}

.row3 .about-img3 img {
    width: 100%;
}

.row3 .about-text3 h3 {
    /* Relieve Knee Pain */
    position: absolute;
    width: 241px;
    height: 33px;
    left: 265px;
    top: 3255px;
    /* H3 - SansPro 30 - Bold */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    /* identical to box height, or 110% */
    letter-spacing: 0.4px;
    color: #4CB3DF;
}

.row3 .about-text3 h6 {
    /* Line 5 */
    position: absolute;
    width: 200px;
    height: 0px;
    left: 265px;
    top: 3301px;
    border: 5px solid #70E4C0;
}

.row3 .about-text3 p {
    /* We deal with several different knee conditions such as meniscal injuries, ligament injuries, bursitis, tendinitis, and joint effusions Patients may be experiencing a variety of symptoms such as knee pain, tenderness, decreased range of motion, and pain with weight-bearing activities. Different treatment options would consist of physical therapy, anti-inflammatory medications, knee steroid injection, or surgery such as knee arthroscopy. */
    position: absolute;
    width: 500px;
    height: 144px;
    left: 265px;
    top: 3321px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    letter-spacing: 0.4px;
    color: #5A5A5A;
}


/* ................IMG 4...................*/

.row4 .about-img4 {
    /* Image */
    position: absolute;
    width: 386px;
    height: 300px;
    left: 832px;
    top: 3584px;
    background: url(tired-woman-touching-her-ankle-suffering-from-leg-pain-because-uncomfortable-shoes_165285-1431.jpg);
    border-radius: 0px 10px 10px 0px;
}

.row4 .about-img4 img {
    width: 100%;
}

.row4 .about-text4 h3 {
    /* Relieve Ankle Pain */
    position: absolute;
    width: 249px;
    height: 33px;
    left: 265px;
    top: 3615px;
    /* H3 - SansPro 30 - Bold */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    /* identical to box height, or 110% */
    letter-spacing: 0.4px;
    color: #4CB3DF;
}

.row4 .about-text4 h6 {
    /* Line 5 */
    position: absolute;
    width: 200px;
    height: 0px;
    left: 265px;
    top: 3661px;
    border: 5px solid #70E4C0;
}

.row4 .about-text4 p {
    /* We focus on tendon and ligament tears in the ankle such as a tear of the anterior talofibular ligament or deltoid ligament. Symptoms can vary from ankle pain, weakness, tenderness, decreased range of motion, and pain with weight-bearing activities. Different treatment options would consist of physical therapy, anti-inflammatory medications, braces, or surgery such as ankle arthroscopy. */
    position: absolute;
    width: 500px;
    height: 128px;
    left: 265px;
    top: 3681px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    letter-spacing: 0.4px;
    color: #5A5A5A;
}


/* ................IMG 5...................*/

.row5 .about-img5 {
    /* Image */
    position: absolute;
    width: 386px;
    height: 300px;
    left: 832px;
    top: 3944px;
    background: url(female-patient-showing-neck-pain-doctor_107420-67747.jpg);
    border-radius: 0px 10px 10px 0px;
}

.row5 .about-img5 img {
    width: 100%;
}

.row5 .about-text5 h3 {
    /* Pain Management */
    position: absolute;
    width: 243px;
    height: 33px;
    left: 265px;
    top: 3975px;
    /* H3 - SansPro 30 - Bold */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    /* identical to box height, or 110% */
    letter-spacing: 0.4px;
    color: #4CB3DF;
}

.row5 .about-text5 h6 {
    /* Line 5 */
    position: absolute;
    width: 200px;
    height: 0px;
    left: 265px;
    top: 4021px;
    border: 5px solid #70E4C0;
}

.row5 .about-text5 p {
    /* We treat various conditions involving the neck and back such as disc disease, herniated disc, bulging disc, cervical disc hernia, and nerve/spinal cord compression. Patients may experience different symptoms such as neck pain, back pain, muscle tension, or other spinal conditions. Different treatment options include cervical epidurals, lumbar epidurals, lumbar discectomy, cervical discectomy, trigger point injections, and medial branch injections. */
    position: absolute;
    width: 500px;
    height: 128px;
    left: 265px;
    top: 4041px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    letter-spacing: 0.4px;
    color: #5A5A5A;
}

.sec-padding-patient {
    padding: 80px 0;
}

.scetion-title-patient h2 {
    /* Our Happy Patients */
    position: absolute;
    width: 418px;
    height: 48px;
    left: 511px;
    top: 980px;
    /* H1 - SansPro 48 - Bold */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: 0.4px;
    color: #08785D;
}

.scetion-title h5 {
    /* Line 4 */
    position: absolute;
    width: 200px;
    height: 0px;
    left: 620px;
    top: 1047px;
    border: 5px solid #70E4C0;
}


/*  r1   */

.row1 {
    opacity: 1;
}

.row1 .team-item1 img {
    /* Ellipse 2 */
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    left: 235px;
    top: 1112px;
    background: url(Customer Testimonial Picture 1.jpg);
}

.row1 .team-item-info1 p {
    /* I feel like I have my life back. No more pain and recovery was faster than expected. */
    position: absolute;
    width: 350px;
    height: 69px;
    left: 120px;
    top: 1247px;
    /* Poppins/B3 - Poppins 17px - Regular */
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    /* or 135% */
    text-align: center;
    letter-spacing: 0.4px;
    color: #5A5A5A;
}

.row1 .team-item-info1 h6 {
    /* Aaron Peters */
    position: absolute;
    width: 300px;
    height: 23px;
    left: 145px;
    top: 1343px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height, or 128% */
    text-align: center;
    letter-spacing: 0.4px;
    /* Primary */
    color: #4CB3DF;
}

.row1 .team-item-info1 h6:hover {
    transform: translateY(-15px);
}


/*  r2  */

.row2 {
    opacity: 1;
}

.row2 .team-item2 img {
    /* Ellipse 3 */
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    left: 660px;
    top: 1112px;
    background: url(Customer Testimonial Picture 1.jpg);
}

.row2 .team-item-info2 p {
    /* I have grandsons and they are active. I now can keep up with them without pain. */
    position: absolute;
    width: 350px;
    height: 69px;
    left: 545px;
    top: 1247px;
    /* Poppins/B3 - Poppins 17px - Regular */
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    /* or 135% */
    text-align: center;
    letter-spacing: 0.4px;
    color: #5A5A5A;
}

.row2 .team-item-info2 h6 {
    /* Mark Carter */
    position: absolute;
    width: 300px;
    height: 23px;
    left: 570px;
    top: 1343px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height, or 128% */
    text-align: center;
    letter-spacing: 0.4px;
    /* Primary */
    color: #4CB3DF;
}

.row2 .team-item-info2 h6:hover {
    transform: translateY(-15px);
}


/*  r3  */

.row3 {
    opacity: 1;
}

.row3 .team-item3 img {
    /* Ellipse 4 */
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    left: 1085px;
    top: 1112px;
    background: url(Customer Testimonial Picture 1.png);
}

.row3 .team-item-info3 p {
    /* My shoulder cause me to not be able to sleep well. Now I can sleep like a baby. Thank you. */
    position: absolute;
    width: 350px;
    height: 69px;
    left: 970px;
    top: 1247px;
    /* Poppins/B3 - Poppins 17px - Regular */
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    /* or 135% */
    text-align: center;
    letter-spacing: 0.4px;
    color: #5A5A5A;
}

.row3 .team-item-info3 h6 {
    /* Bryan Gonzalez */
    position: absolute;
    width: 300px;
    height: 23px;
    left: 995px;
    top: 1366px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height, or 128% */
    text-align: center;
    letter-spacing: 0.4px;
    /* Primary */
    color: #4CB3DF;
}

.row3 .team-item-info3 h6:hover {
    transform: translateY(-15px);
}

.row .about-text1 h3 {
    /* DR. PETER A. TOMASELLO JR. */
    position: absolute;
    width: 369px;
    height: 33px;
    left: 641px;
    top: 1630px;
    /* Poppins/H3 - Poppins 27px - SemiBold */
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    /* identical to box height, or 122% */
    letter-spacing: 0.4px;
    /* Primary */
    color: #4CB3DF;
}

.row .about-img-p {
    /* Dr Image */
    position: absolute;
    width: 396px;
    height: 396px;
    left: 200px;
    top: 1601px;
    background: url(dr-peter-tomasello.png);
}

.row .about-img-p img {
    width: 100%;
    border-radius: 50%;
}

.row .about-text1 h3 {
    /* DR. PETER A. TOMASELLO JR. */
    position: absolute;
    width: 369px;
    height: 33px;
    left: 641px;
    top: 1630px;
    /* Poppins/H3 - Poppins 27px - SemiBold */
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    /* identical to box height, or 122% */
    letter-spacing: -0.4px;
    /* Primary */
    color: #4CB3DF;
}

.row .about-text1 h6 {
    /* Line 5 */
    position: absolute;
    width: 200px;
    height: 0px;
    left: 641px;
    top: 1676px;
    border: 5px solid #70E4C0;
}

.row .about-text1 p {
    /* Peter A. Tomasello, Jr. D.O. is a Board Certified orthopedic surgeon specializing in the operative and non-operative treatment of acute orthopedic injuries and conditions including: fractures, sprains, strains, soft tissue injuries, and infections. Dr. Tomasello evaluates and treats a wide variety of sports and activity related problems as well as general orthopedic conditions. As a specialist in the field of sports medicine with an emphasis on traumatic and sports-related musculoskeletal injuries, his practice includes a great deal of arthroscopy, knee ligament reconstruction, meniscal repair and shoulder surgery including arthroscopic repairs for rotator cuff and labral tears. */
    position: absolute;
    width: 649px;
    height: 184px;
    left: 641px;
    top: 1696px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.4px;
    color: #000000;
}

.footer {
    /* Rectangle 12 */
    position: absolute;
    width: 1440px;
    height: 319px;
    right: 0px;
    bottom: 0px;
    background: #009F7B;
}

.footer h1 {
    /* VM Forsthill */
    position: absolute;
    width: 254px;
    height: 48px;
    right: 1066px;
    bottom: 233px;
    /* H1 - SansPro 48 - Bold */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.footer .footer-item1 p {
    /* Vivamus efficitur lectus quis justo mollis interdum. Cras id facilisis urna. Nunc malesuada leo erat, ac interdum nisi rhoncus dictum. Proin ultricies dignissim accumsan. In eget volutpat dui */
    position: absolute;
    width: 305px;
    height: 100px;
    left: 120px;
    bottom: 113px;
    /* B2 - SansPro 16 - Regular */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.footer .footer-item2 h4 {
    /* Our Treatments */
    position: absolute;
    width: 192px;
    height: 28px;
    right: 741px;
    bottom: 233px;
    /* H4 - SansPro 27 - Bold */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 28px;
    /* identical to box height, or 104% */
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.footer .footer-item2 p {
    position: absolute;
    width: 142px;
    height: 20px;
    right: 791px;
    bottom: 193px;
    /* B2 - SansPro 16 - Regular */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.footer .footer-item3 h4 {
    /* About Us */
    position: absolute;
    width: 110px;
    height: 28px;
    right: 516px;
    bottom: 229px;
    /* H4 - SansPro 27 - Bold */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 28px;
    /* identical to box height, or 104% */
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.footer .footer-item3 p {
    /* Doctors */
    position: absolute;
    width: 55px;
    height: 20px;
    right: 571px;
    bottom: 186px;
    /* B2 - SansPro 16 - Regular */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.footer .footer-item4 h3 {
    /* Schedule A Consultation */
    position: absolute;
    width: 331px;
    height: 33px;
    left: 1015px;
    bottom: 228px;
    /* H3 - SansPro 30 - Bold */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    /* identical to box height, or 110% */
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.footer .footer-item4 p {
    /* Call - 718-690-3966 */
    position: absolute;
    width: 154px;
    height: 23px;
    left: 1076px;
    bottom: 162px;
    /* Poppins/B2 - Poppins 15px - SemiBold */
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

@media only screen and (max-width: 767px) {
    .wrap .container .topic a {
        width: 257px;
        height: 54px;
        left: 30px;
        top: 8px;
        font-weight: 600;
        font-size: 25px;
        line-height: 54px;
        /* identical to box height */
        letter-spacing: 0.2px;
    }
    .wrap .container .nav .items li a {
        opacity: 0;
        position: absolute;
    }
    .icon {
        margin-right: 30px;
        width: 4%;
        opacity: 1;
        margin-top: -40px;
    }
    .heading h4 {
        /* WORLD CLASS ORTHOPEDIC SURGERY TO */
        position: absolute;
        width: 487px;
        height: 28px;
        left: 80px;
        top: 299px;
        /* Poppins/H4 - Poppins 24px - Semi Bold */
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height, or 117% */
        letter-spacing: 0.4px;
        color: #FFFFFF;
        opacity: 0;
    }
    .heading h1 {
        /* LIVE PAIN FREE AND HELP YOU GET BACK TO YOUR HAPPY LIFE */
        position: absolute;
        width: 489px;
        height: 150px;
        left: 81px;
        top: 347px;
        /* Poppins/H1 - Poppins 44px - Bold */
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        line-height: 50px;
        /* or 114% */
        letter-spacing: 0.4px;
        color: #FFFFFF;
        opacity: 0;
    }
    .heading .btns .button {
        padding: 13px 0 0 81px;
        text-decoration: none;
        opacity: 0;
    }
    .scetion-title-patient h2 {
        /* Our Happy Patients */
        position: absolute;
        width: 418px;
        height: 48px;
        left: 81px;
        top: 980px;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.2px;
    }
    .scetion-title h5 {
        /* Line 4 */
        position: absolute;
        width: 150px;
        height: 0px;
        left: 215px;
        top: 1047px;
        border: 3px solid #70E4C0;
    }
    .row1 .team-item1 img {
        /* Ellipse 2 */
        position: absolute;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        left: 215px;
        top: 1112px;
        background: url(Customer Testimonial Picture 1.jpg);
    }
    .row1 .team-item-info1 p {
        /* I feel like I have my life back. No more pain and recovery was faster than expected. */
        position: absolute;
        width: 350px;
        height: 69px;
        left: 100px;
        top: 1247px;
        /* Poppins/B3 - Poppins 17px - Regular */
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        /* or 135% */
        text-align: center;
        letter-spacing: 0.4px;
        color: #5A5A5A;
    }
    .row1 .team-item-info1 h6 {
        /* Aaron Peters */
        position: absolute;
        width: 300px;
        height: 23px;
        left: 125px;
        top: 1343px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        /* identical to box height, or 128% */
        text-align: center;
        letter-spacing: 0.4px;
        /* Primary */
        color: #4CB3DF;
    }
    .row1 .team-item-info1 h6:hover {
        transform: translateY(-15px);
    }
    .row2 {
        opacity: 0;
    }
    .row3 {
        opacity: 0;
    }
    .row .about-img-p {
        /* Dr Image */
        position: absolute;
        width: 200px;
        height: 200px;
        left: 160px;
        top: 1601px;
        background: url(dr-peter-tomasello.png);
    }
    .row .about-img-p img {
        border-radius: 50%;
    }
    .row .about-text1 h3 {
        /* DR. PETER A. TOMASELLO JR. */
        position: absolute;
        width: 369px;
        height: 33px;
        left: 100px;
        top: 1830px;
        /* Poppins/H3 - Poppins 27px - SemiBold */
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 30px;
        /* identical to box height, or 122% */
        letter-spacing: -0.2px;
        /* Primary */
        color: #4CB3DF;
    }
    .row .about-text1 h6 {
        /* Line 5 */
        position: absolute;
        width: 320px;
        height: -2px;
        left: 100px;
        top: 1860px;
        border: 5px solid #70E4C0;
    }
    .row .about-text1 p {
        /* Peter A. Tomasello, Jr. D.O. is a Board Certified orthopedic surgeon specializing in the operative and non-operative treatment of acute orthopedic injuries and conditions including: fractures, sprains, strains, soft tissue injuries, and infections. Dr. Tomasello evaluates and treats a wide variety of sports and activity related problems as well as general orthopedic conditions. As a specialist in the field of sports medicine with an emphasis on traumatic and sports-related musculoskeletal injuries, his practice includes a great deal of arthroscopy, knee ligament reconstruction, meniscal repair and shoulder surgery including arthroscopic repairs for rotator cuff and labral tears. */
        position: absolute;
        width: 649px;
        height: 184px;
        left: 100px;
        top: 1890px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 23px;
        letter-spacing: 0.4px;
        color: #000000;
    }
}